email=bpravalikaraj52@gmail.com
registry=http://100.26.209.82:8081/repository/node-js-test-repo/
always-auth=true
_auth=YWRtaW46YWRtaW4=

//registry.http://54.175.50.193:8081/repository/node-js-test-repo/:auth=YWRtaW46YWRtaW4=
allowRepublish=true
