email=bpravalikaraj52@gmail.com
registry=http://54.175.50.193:8081/repository/test-nodeJS-1-repo/
always-auth=true
_auth=YWRtaW46YWRtaW4=
//registry.npmjs.org/:_auth=YWRtaW46ZGV2b3Bz
allowRepublish=true
